{% load url from future %}

<script src="{% static "forms/js/bundle.js" %}"></script>

<script>

$(function() {

  var pluginIndex = {{ forloop.counter }};
  var urlDatasetKeys="{% url 'omeroforms_dataset_keys' %}";
  var urlUpdate="{% url 'omeroforms_update' %}";


  var reactRender = function(datatree, selectedNode) {
    var datasetId = selectedNode.data.obj.id;
    var randomShit = "foobar";

    omeroforms.default(datasetId, urlDatasetKeys, urlUpdate);

  };

  $("#omero_forms_panel").omeroweb_center_plugin({
    plugin_index: pluginIndex,        // From the Django template loop
    empty_on_sel_change: false,       // Do not completely erase content when changing selection
    load_plugin_content: function(selected, dtype, oid) {

      // this may have been called before datatree was initialised...
      var datatree = $.jstree.reference('#dataTree');
      if (!datatree) return;

      // We use the tree to access selected objects, since we can traverse
      // to check parents etc...
      // Note: We do not use the parameters selected, dtype or oid as
      // it is easier to use the tree directly as these do not refer to
      // a jstree node
      var tree_selected = datatree.get_selected(true);

      if (tree_selected === undefined) {
        return;
      }

      // TODO Handle multi-selection
      var selected = tree_selected[0];

      // If the selected object is a Dataset
      if (selected.type === 'dataset'){
        // Make sure that the dataset is loaded
        if (!datatree.is_loaded(selected)) {
          datatree.load_node(selected, function(node, status){
            reactRender(datatree, datatree.get_node(node));
          });
        } else {
          reactRender(datatree, datatree.get_node(selected));
        }
      }
    },
    supported_obj_types: ['dataset']
  });
});

</script>
