
/* Correct some aggressive CSS rules from dusty.css */
.Select-arrow-zone {
    display:table-cell !important;
}

.Select-clear-zone {
    display:table-cell !important;
}

.Select-placeholder, .Select-option {
    font-size:14px;
}

#auto_tag_panel .toolbar {
    text-align:right;
}

#auto_tag_panel th.pathTokens {
    background-color:#FFFFCC;
}

#auto_tag_panel th.extensionTokens {
    background-color:#FFFFCC;
}

#auto_tag_panel .table td {
    text-align:center;
}

#auto_tag_panel .table tbody tr > td.success {
  background-color: #dff0d8 !important;
}

#auto_tag_panel .table tbody tr > td.error {
  background-color: #f2dede !important;
}

#auto_tag_panel .table tbody tr > td.warning {
  background-color: #fcf8e3 !important;
}

#auto_tag_panel .table tbody tr > td.info {
  background-color: #d9edf7 !important;
}

#auto_tag_panel .table-hover tbody tr:hover > td.success {
  background-color: #d0e9c6 !important;
}

#auto_tag_panel .table-hover tbody tr:hover > td.error {
  background-color: #ebcccc !important;
}

#auto_tag_panel .table-hover tbody tr:hover > td.warning {
  background-color: #faf2cc !important;
}

#auto_tag_panel .table-hover tbody tr:hover > td.info {
  background-color: #c4e3f3 !important;
}

#auto_tag_panel .btn-default {
  border: 0;
/*  width: 14px;
  height: 20px;*/
  background-color:transparent;
}

#auto_tag_panel .btn-default:focus {
  outline: none;
}

#auto_tag_panel .token {
    text-align:center;
}

#auto_tag_panel .tag {
    white-space:nowrap;
}

#auto_tag_panel .table {
  width: 100%;
  margin-bottom: 20px;
}
#auto_tag_panel .table thead > tr > th,
#auto_tag_panel .table tbody > tr > th,
#auto_tag_panel .table tfoot > tr > th,
#auto_tag_panel .table thead > tr > td,
#auto_tag_panel .table tbody > tr > td,
#auto_tag_panel .table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
#auto_tag_panel .table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
#auto_tag_panel .table caption + thead tr:first-child th,
#auto_tag_panel .table colgroup + thead tr:first-child th,
#auto_tag_panel .table thead:first-child tr:first-child th,
#auto_tag_panel .table caption + thead tr:first-child td,
#auto_tag_panel .table colgroup + thead tr:first-child td,
#auto_tag_panel .table thead:first-child tr:first-child td {
  border-top: 0;
}
#auto_tag_panel .table tbody + tbody {
  border-top: 2px solid #dddddd;
}
#auto_tag_panel .table {
  background-color: #ffffff;
}
#auto_tag_panel .table-condensed thead > tr > th,
#auto_tag_panel .table-condensed tbody > tr > th,
#auto_tag_panel .table-condensed tfoot > tr > th,
#auto_tag_panel .table-condensed thead > tr > td,
#auto_tag_panel .table-condensed tbody > tr > td,
#auto_tag_panel .table-condensed tfoot > tr > td {
  padding: 5px;
}
#auto_tag_panel .table-bordered {
  border: 1px solid #dddddd;
}
#auto_tag_panel .table-bordered > thead > tr > th,
#auto_tag_panel .table-bordered > tbody > tr > th,
#auto_tag_panel .table-bordered > tfoot > tr > th,
#auto_tag_panel .table-bordered > thead > tr > td,
#auto_tag_panel .table-bordered > tbody > tr > td,
#auto_tag_panel .table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
#auto_tag_panel .table-bordered > thead > tr > th,
#auto_tag_panel .table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
#auto_tag_panel .table-striped > tbody > tr:nth-child(odd) > td,
#auto_tag_panel .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
#auto_tag_panel .table-hover > tbody > tr:hover > td,
#auto_tag_panel .table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
#auto_tag_panel table col[class*="col-"] {
  float: none;
  display: table-column;
}
#auto_tag_panel table td[class*="col-"],
#auto_tag_panel table th[class*="col-"] {
  float: none;
  display: table-cell;
}
#auto_tag_panel .table > thead > tr > td.active,
#auto_tag_panel .table > tbody > tr > td.active,
#auto_tag_panel .table > tfoot > tr > td.active,
#auto_tag_panel .table > thead > tr > th.active,
#auto_tag_panel .table > tbody > tr > th.active,
#auto_tag_panel .table > tfoot > tr > th.active,
#auto_tag_panel .table > thead > tr.active > td,
#auto_tag_panel .table > tbody > tr.active > td,
#auto_tag_panel .table > tfoot > tr.active > td,
#auto_tag_panel .table > thead > tr.active > th,
#auto_tag_panel .table > tbody > tr.active > th,
#auto_tag_panel .table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
#auto_tag_panel .table > thead > tr > td.success,
#auto_tag_panel .table > tbody > tr > td.success,
#auto_tag_panel .table > tfoot > tr > td.success,
#auto_tag_panel .table > thead > tr > th.success,
#auto_tag_panel .table > tbody > tr > th.success,
#auto_tag_panel .table > tfoot > tr > th.success,
#auto_tag_panel .table > thead > tr.success > td,
#auto_tag_panel .table > tbody > tr.success > td,
#auto_tag_panel .table > tfoot > tr.success > td,
#auto_tag_panel .table > thead > tr.success > th,
#auto_tag_panel .table > tbody > tr.success > th,
#auto_tag_panel .table > tfoot > tr.success > th {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
#auto_tag_panel .table-hover > tbody > tr > td.success:hover,
#auto_tag_panel .table-hover > tbody > tr > th.success:hover,
#auto_tag_panel .table-hover > tbody > tr.success:hover > td {
  background-color: #d0e9c6;
  border-color: #c9e2b3;
}
#auto_tag_panel .table > thead > tr > td.danger,
#auto_tag_panel .table > tbody > tr > td.danger,
#auto_tag_panel .table > tfoot > tr > td.danger,
#auto_tag_panel .table > thead > tr > th.danger,
#auto_tag_panel .table > tbody > tr > th.danger,
#auto_tag_panel .table > tfoot > tr > th.danger,
#auto_tag_panel .table > thead > tr.danger > td,
#auto_tag_panel .table > tbody > tr.danger > td,
#auto_tag_panel .table > tfoot > tr.danger > td,
#auto_tag_panel .table > thead > tr.danger > th,
#auto_tag_panel .table > tbody > tr.danger > th,
#auto_tag_panel .table > tfoot > tr.danger > th {
  background-color: #f2dede;
  border-color: #eed3d7;
}
#auto_tag_panel .table-hover > tbody > tr > td.danger:hover,
#auto_tag_panel .table-hover > tbody > tr > th.danger:hover,
#auto_tag_panel .table-hover > tbody > tr.danger:hover > td {
  background-color: #ebcccc;
  border-color: #e6c1c7;
}
#auto_tag_panel .table > thead > tr > td.warning,
#auto_tag_panel .table > tbody > tr > td.warning,
#auto_tag_panel .table > tfoot > tr > td.warning,
#auto_tag_panel .table > thead > tr > th.warning,
#auto_tag_panel .table > tbody > tr > th.warning,
#auto_tag_panel .table > tfoot > tr > th.warning,
#auto_tag_panel .table > thead > tr.warning > td,
#auto_tag_panel .table > tbody > tr.warning > td,
#auto_tag_panel .table > tfoot > tr.warning > td,
#auto_tag_panel .table > thead > tr.warning > th,
#auto_tag_panel .table > tbody > tr.warning > th,
#auto_tag_panel .table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
  border-color: #fbeed5;
}
#auto_tag_panel .table-hover > tbody > tr > td.warning:hover,
#auto_tag_panel .table-hover > tbody > tr > th.warning:hover,
#auto_tag_panel .table-hover > tbody > tr.warning:hover > td {
  background-color: #faf2cc;
  border-color: #f8e5be;
}
@media (max-width: 768px) {
  #auto_tag_panel .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    border: 1px solid #dddddd;
  }
  #auto_tag_panel .table-responsive > .table {
    margin-bottom: 0;
    background-color: #fff;
  }
  #auto_tag_panel .table-responsive > .table > thead > tr > th,
  #auto_tag_panel .table-responsive > .table > tbody > tr > th,
  #auto_tag_panel .table-responsive > .table > tfoot > tr > th,
  #auto_tag_panel .table-responsive > .table > thead > tr > td,
  #auto_tag_panel .table-responsive > .table > tbody > tr > td,
  #auto_tag_panel .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  #auto_tag_panel .table-responsive > .table-bordered {
    border: 0;
  }
  #auto_tag_panel .table-responsive > .table-bordered > thead > tr > th:first-child,
  #auto_tag_panel .table-responsive > .table-bordered > tbody > tr > th:first-child,
  #auto_tag_panel .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  #auto_tag_panel .table-responsive > .table-bordered > thead > tr > td:first-child,
  #auto_tag_panel .table-responsive > .table-bordered > tbody > tr > td:first-child,
  #auto_tag_panel .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  #auto_tag_panel .table-responsive > .table-bordered > thead > tr > th:last-child,
  #auto_tag_panel .table-responsive > .table-bordered > tbody > tr > th:last-child,
  #auto_tag_panel .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  #auto_tag_panel .table-responsive > .table-bordered > thead > tr > td:last-child,
  #auto_tag_panel .table-responsive > .table-bordered > tbody > tr > td:last-child,
  #auto_tag_panel .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  #auto_tag_panel .table-responsive > .table-bordered > thead > tr:last-child > th,
  #auto_tag_panel .table-responsive > .table-bordered > tbody > tr:last-child > th,
  #auto_tag_panel .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  #auto_tag_panel .table-responsive > .table-bordered > thead > tr:last-child > td,
  #auto_tag_panel .table-responsive > .table-bordered > tbody > tr:last-child > td,
  #auto_tag_panel .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

#auto_tag_panel .Select-placeholder,
#auto_tag_panel .Select-value {
  padding-left: 7px;
  padding-right: 5px;
  white-space: nowrap;
  position:inherit;
  display: table-cell;
}

#auto_tag_panel .Select-control {
    line-height:inherit;
    height: auto;
    border: 1px solid transparent;
}

#auto_tag_panel .Select-placeholder,
#auto_tag_panel .Select-value,
#auto_tag_panel .Select-clear-zone,
#auto_tag_panel .Select-arrow-zone {
  line-height: inherit;
  height: auto;
  cursor: pointer;
}

#auto_tag_panel .Select-value-label {
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    color:hsl(205,30%,35%);
}

#auto_tag_panel .Select-input {
    line-height: inherit;
    height: auto;
    padding-left: 0;
    padding-right: 0;
}

#auto_tag_panel .Select-clear-zone,
#auto_tag_panel .Select-arrow-zone {
    padding: 0px 2px 0px 2px;
}

#auto_tag_panel .Select-arrow-zone {
    padding-top: 2px;
    padding-right: 7px;
}

#auto_tag_panel .Select-clear-zone{
    font-weight: bold;
    padding-bottom: 2px;
    padding-right: 4px;
}

#auto_tag_panel .Select-control {
  background: none transparent;
}

#auto_tag_panel .Select-placeholder {
    font-size: inherit;
    color: inherit;
}

#auto_tag_panel .Select-clear {
    font-size: 10px;
    color: black;
}

#auto_tag_panel .Select-menu-outer {
    width: auto;
    margin-top: 2px;
}

#auto_tag_panel .Select-option {
    width: auto;
    font-size: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#auto_tag_panel .tag_button {
	display:inline-block;
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border:solid 1px hsl(205,40%,60%);
	background-image: -webkit-gradient(linear, left bottom, left top, from(hsl(205, 65%, 85%)), to(hsl(205, 60%, 90%)));

	background-image:-moz-linear-gradient(top, hsl(205,60%,90%) 0%, hsl(205,35%,85%) 100%); /* FF3.6+ */
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(205,60%,90%)), color-stop(100%,hsl(205,35%,85%))); /* Chrome,Safari4+ */
	background-image:-webkit-linear-gradient(top, hsl(205,60%,90%) 0%,hsl(205,35%,85%) 100%); /* Chrome10+,Safari5.1+ */
	background-image:-o-linear-gradient(top, hsl(205,60%,90%) 0%,hsl(205,35%,85%) 100%); /* Opera11.10+ */
	background-image:-ms-linear-gradient(top, hsl(205,60%,90%) 0%,hsl(205,35%,85%) 100%); /* IE10+ */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#5CACE6', endColorstr='#8DB9D9',GradientType=0 ); /* IE6-9 */
	background:linear-gradient(to top, hsl(205,60%,90%) 0%,hsl(205,35%,85%) 100%); /* W3C */

	color:hsl(205,30%,35%) !important;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
}

#auto_tag_panel .tag_button:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(hsl(205, 70%, 75%)), to(hsl(205, 65%, 80%)));

	background:blue; /* Old browsers */
	background-image:-moz-linear-gradient(top, hsl(205,65%,80%) 0%, hsl(205,70%,75%) 100%); /* FF3.6+ */
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(205,65%,80%)), color-stop(100%,hsl(205,70%,75%))); /* Chrome,Safari4+ */
	background-image:-webkit-linear-gradient(top, hsl(205,65%,80%) 0%,hsl(205,70%,75%) 100%); /* Chrome10+,Safari5.1+ */
	background-image:-o-linear-gradient(top, hsl(205,65%,80%) 0%,hsl(205,70%,75%) 100%); /* Opera11.10+ */
	background-image:-ms-linear-gradient(top, hsl(205,65%,80%) 0%,hsl(205,70%,75%) 100%); /* IE10+ */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4795CC', endColorstr='#3987BF',GradientType=0 ); /* IE6-9 */
	background:linear-gradient(to top, hsl(205,65%,80%) 0%,hsl(205,70%,75%) 100%); /* W3C */

	text-decoration:none;
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
	color:hsl(205,30%,30%);
}

#auto_tag_panel .tag_button_inactive {
    background-image: -webkit-gradient(linear, left bottom, left top, from(hsl(350, 65%, 85%)), to(hsl(350, 60%, 90%))) !important;

    background-image:-moz-linear-gradient(top, hsl(350,65%,80%) 0%, hsl(350,60%,90%) 100%) !important; /* FF3.6+ */
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(350,65%,85%)), color-stop(100%,hsl(350,60%,90%))) !important; /* Chrome,Safari4+ */
    background-image:-webkit-linear-gradient(top, hsl(350,65%,80%) 0%,hsl(350,60%,90%) 100% !important); /* Chrome10+,Safari5.1+ */
    background-image:-o-linear-gradient(top, hsl(350,65%,80%) 0%,hsl(350,60%,90%) 100%) !important; /* Opera11.10+ */
    background-image:-ms-linear-gradient(top, hsl(350,65%,80%) 0%,hsl(350,60%,90%) 100%) !important; /* IE10+ */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4795CC', endColorstr='#3987BF',GradientType=0 ) !important; /* IE6-9 */
    background:linear-gradient(to top, hsl(350,65%,80%) 0%,hsl(350,60%,90%) 100%) !important; /* W3C */

    text-decoration:none !important;
    text-shadow: 0 1px 0 rgba(255,255,255,.4) !important;
    color:hsl(350,30%,30%) !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
}

#auto_tag_panel .tag_button_inactive:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(hsl(350, 70%, 75%)), to(hsl(350, 65%, 80%))) !important;

	background:blue; /* Old browsers */
	background-image:-moz-linear-gradient(top, hsl(350,65%,80%) 0%, hsl(350,70%,75%) 100%) !important; /* FF3.6+ */
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(350,65%,80%)), color-stop(100%,hsl(350,70%,75%))) !important; /* Chrome,Safari4+ */
	background-image:-webkit-linear-gradient(top, hsl(350,65%,80%) 0%,hsl(350,70%,75%) 100%) !important; /* Chrome10+,Safari5.1+ */
	background-image:-o-linear-gradient(top, hsl(350,65%,80%) 0%,hsl(350,70%,75%) 100%) !important; /* Opera11.10+ */
	background-image:-ms-linear-gradient(top, hsl(350,65%,80%) 0%,hsl(350,70%,75%) 100%) !important; /* IE10+ */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4795CC', endColorstr='#3987BF',GradientType=0 ) !important; /* IE6-9 */
	background:linear-gradient(to top, hsl(350,65%,80%) 0%,hsl(350,70%,75%) 100%) !important; /* W3C */

	text-decoration:none !important;
	text-shadow: 0 1px 0 rgba(255,255,255,.4) !important;
	color:hsl(350,30%,30%) !important;
}

#auto_tag_panel .tag_button_unmatched {

    background-image: -webkit-gradient(linear, left bottom, left top, from(hsl(100, 65%, 85%)), to(hsl(205, 60%, 90%))) !important;
    background-image:-moz-linear-gradient(top, hsl(100,60%,90%) 0%, hsl(100,35%,85%) 100%) !important; /* FF3.6+ */
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(100,60%,90%)), color-stop(100%,hsl(100,35%,85%))) !important; /* Chrome,Safari4+ */
    background-image:-webkit-linear-gradient(top, hsl(100,60%,90%) 0%,hsl(100,35%,85%) 100%) !important; /* Chrome10+,Safari5.1+ */
    background-image:-o-linear-gradient(top, hsl(100,60%,90%) 0%,hsl(100,35%,85%) 100%) !important; /* Opera11.10+ */
    background-image:-ms-linear-gradient(top, hsl(100,60%,90%) 0%,hsl(100,35%,85%) 100%) !important; /* IE10+ */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#5CACE6', endColorstr='#8DB9D9',GradientType=0 ) !important; /* IE6-9 */
    background:linear-gradient(to top, hsl(100,60%,90%) 0%,hsl(100,35%,85%) 100%) !important; /* W3C */

    color:hsl(100,10%,15%) !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5);

    margin: 0px, 0px, 0px, 0px !important;
    margin-top: 0px !important;

    padding-left: 7px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#auto_tag_panel .autotag_tooltip {
    text-align: left;
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 30px;
}
